<!-- 
    
Sub Header

<div class="sub-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-sm-8">
                <div class="left-content">
                    <p>Descubre el <em>paraíso turístico</em> de Acacías, Meta.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-4">
                <div class="right-icons">
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>-->

<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="index.html" class="logo">
                        Acacías Turismo
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li class="scroll-to-section"><a href="#top" class="active">Inicio</a></li>
                        <li><a href="rutas.html">Rutas</a></li>
                        <li class="scroll-to-section"><a href="#hoteles">Hoteles</a></li>
                        <li class="has-sub">
                            <a href="javascript:void(0)">Guías</a>
                            <ul class="sub-menu">
                                <li><a href="guia-restaurantes.html">Restaurantes</a></li>
                                <li><a href="guia-lugares.html">Lugares de Interés</a></li>
                                <li><a href="guia-actividades.html">Actividades</a></li>
                            </ul>
                        </li>
                        <li class="scroll-to-section"><a href="#planes">Planes y Promociones</a></li>
                        <li class="scroll-to-section"><a href="#contacto">Contáctanos</a></li>
                    </ul>
                    <a class='menu-trigger'>
                        <span>Menú</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>

<!-- ***** Header Area End ***** -->
<!-- ***** Main Banner Area Start ***** -->
<section class="section main-banner" id="top" data-section="section1">
    <video autoplay muted loop id="bg-video">
        <source src="assets/images/bg.mp4" type="video/mp4" />
    </video>

    <div class="video-overlay header-text">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="caption">
                        <h6>Bienvenido Turista</h6>
                        <h2>Descubre Acacías, Meta</h2>
                        <p>Explora la belleza natural y la riqueza cultural de Acacías. Te ofrecemos los mejores <a rel="nofollow" href="https://templatemo.com/page/1" target="_blank">hoteles, restaurantes, y actividades</a>.</p>
                        <div class="main-button-red">
                            <div class="scroll-to-section"><a href="#contact">¡Únete a la aventura!</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Main Banner Area End ***** -->
<!-- ***** Services Area Start ***** -->
<section class="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="owl-service-item owl-carousel">

                    <div class="item">
                        <div class="icon">
                            <img src="assets/images/service-icon-01.png" alt="">
                        </div>
                        <div class="down-content">
                            <h4>Mejores Hoteles</h4>
                            <p>Encuentra los mejores lugares para alojarte en Acacías.</p>
                        </div>
                    </div>

                    <div class="item">
                        <div class="icon">
                            <img src="assets/images/service-icon-02.png" alt="">
                        </div>
                        <div class="down-content">
                            <h4>Deliciosa Gastronomía</h4>
                            <p>Descubre la cocina local con los restaurantes más recomendados.</p>
                        </div>
                    </div>

                    <div class="item">
                        <div class="icon">
                            <img src="assets/images/service-icon-03.png" alt="">
                        </div>
                        <div class="down-content">
                            <h4>Turismo Ecológico</h4>
                            <p>Explora la naturaleza con rutas ecológicas y parques naturales.</p>
                        </div>
                    </div>

                    <div class="item">
                        <div class="icon">
                            <img src="assets/images/service-icon-02.png" alt="">
                        </div>
                        <div class="down-content">
                            <h4>Actividades al Aire Libre</h4>
                            <p>Disfruta de los mejores planes turísticos y recreativos.</p>
                        </div>
                    </div>

                    <div class="item">
                        <div class="icon">
                            <img src="assets/images/service-icon-03.png" alt="">
                        </div>
                        <div class="down-content">
                            <h4>Conoce la Cultura Local</h4>
                            <p>Sumérgete en la cultura de Acacías con festivales y eventos.</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Services Area End ***** -->

<section class="upcoming-meetings" id="meetings">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading">
                    <h2>Próximos Eventos Turísticos</h2>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="categories">
                    <h4>Categorías de Eventos</h4>
                    <ul>
                        <li><a href="#">Ferias y Festivales</a></li>
                        <li><a href="#">Caminatas Ecológicas</a></li>
                        <li><a href="#">Gastronomía Local</a></li>
                        <li><a href="#">Deportes de Aventura</a></li>
                        <li><a href="#">Cultura y Tradiciones</a></li>
                    </ul>
                    <div class="main-button-red">
                        <a href="events.html">Ver Todos los Eventos</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="meeting-item">
                            <div class="thumb">
                                <div class="price">
                                    <span>Gratis</span>
                                </div>
                                <a href="event-details.html"><img src="assets/images/meeting-01.jpg" alt="Festival Folclórico"></a>
                            </div>
                            <div class="down-content">
                                <div class="date">
                                    <h6>Oct <span>15</span></h6>
                                </div>
                                <a href="event-details.html"><h4>Festival Folclórico de Acacías</h4></a>
                                <p>Vive la cultura llanera en el festival más grande de la región.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="meeting-item">
                            <div class="thumb">
                                <div class="price">
                                    <span>$30.00</span>
                                </div>
                                <a href="event-details.html"><img src="assets/images/meeting-02.jpg" alt="Caminata Ecológica"></a>
                            </div>
                            <div class="down-content">
                                <div class="date">
                                    <h6>Nov <span>5</span></h6>
                                </div>
                                <a href="event-details.html"><h4>Caminata Ecológica en la Serranía</h4></a>
                                <p>Descubre las maravillas naturales de Acacías con guías expertos.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="meeting-item">
                            <div class="thumb">
                                <div class="price">
                                    <span>$15.00</span>
                                </div>
                                <a href="event-details.html"><img src="assets/images/meeting-03.jpg" alt="Taller de Gastronomía"></a>
                            </div>
                            <div class="down-content">
                                <div class="date">
                                    <h6>Nov <span>12</span></h6>
                                </div>
                                <a href="event-details.html"><h4>Taller de Gastronomía Llanera</h4></a>
                                <p>Aprende a preparar los platos más tradicionales de los llanos.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="meeting-item">
                            <div class="thumb">
                                <div class="price">
                                    <span>$25.00</span>
                                </div>
                                <a href="event-details.html"><img src="assets/images/meeting-04.jpg" alt="Deportes de Aventura"></a>
                            </div>
                            <div class="down-content">
                                <div class="date">
                                    <h6>Nov <span>20</span></h6>
                                </div>
                                <a href="event-details.html"><h4>Deportes de Aventura en el Río Guayuriba</h4></a>
                                <p>Adrenalina pura con rafting y canopy en el río Guayuriba.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="apply-now" id="apply">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 align-self-center">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="item">
                            <h3>DESCUBRE ACACÍAS, META</h3>
                            <p>Explora las maravillas naturales, culturales y gastronómicas que Acacías, Meta tiene para ofrecer. Desde caminatas ecológicas hasta festivales folclóricos, hay algo para todos.</p>
                            <div class="main-button-red">
                                <div class="scroll-to-section"><a href="#contact">Únete a una experiencia ahora!</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="item">
                            <h3>EXPLORA AVENTURAS LOCALES</h3>
                            <p>Descubre las mejores actividades y eventos que te sumergen en la vida llanera. Vive la cultura y la naturaleza con guías locales expertos.</p>
                            <div class="main-button-yellow">
                                <div class="scroll-to-section"><a href="#contact">Reserva tu aventura!</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="accordions is-first-expanded">
                    <article class="accordion">
                        <div class="accordion-head">
                            <span>Acerca de Acacías</span>
                            <span class="icon">
                                <i class="icon fa fa-chevron-right"></i>
                            </span>
                        </div>
                        <div class="accordion-body">
                            <div class="content">
                                <p>Acacías es conocida por su hospitalidad y la belleza de su entorno natural. Situada en el corazón de los llanos orientales, es un destino ideal para quienes buscan una experiencia auténtica en Colombia. Desde actividades al aire libre hasta festivales culturales, Acacías lo tiene todo.</p>
                            </div>
                        </div>
                    </article>
                    <article class="accordion">
                        <div class="accordion-head">
                            <span>Actividades Recomendadas</span>
                            <span class="icon">
                                <i class="icon fa fa-chevron-right"></i>
                            </span>
                        </div>
                        <div class="accordion-body">
                            <div class="content">
                                <p>
                                    Disfruta de una amplia variedad de actividades, desde caminatas en la serranía hasta paseos a caballo por las haciendas llaneras. Las rutas turísticas incluyen recorridos por el río Guayuriba, donde podrás disfrutar de deportes acuáticos como rafting y canopy.<br><br>
                                    También podrás participar en talleres de gastronomía local, donde aprenderás a preparar los platos tradicionales de la región, como la mamona y el pan de arroz.
                                </p>
                            </div>
                        </div>
                    </article>
                    <article class="accordion">
                        <div class="accordion-head">
                            <span>Festivales y Eventos</span>
                            <span class="icon">
                                <i class="icon fa fa-chevron-right"></i>
                            </span>
                        </div>
                        <div class="accordion-body">
                            <div class="content">
                                <p>
                                    Acacías es famosa por sus festivales folclóricos que celebran la música y la danza llanera. El "Festival Folclórico y Reinado Nacional del Retorno" es uno de los eventos más importantes, donde se muestra el talento artístico de la región.<br><br>
                                    Además, durante todo el año, hay eventos como el "Día de la Llaneridad" y "Feria Artesanal", donde puedes conocer de cerca las tradiciones culturales.
                                </p>
                            </div>
                        </div>
                    </article>
                    <article class="accordion last-accordion">
                        <div class="accordion-head">
                            <span>Comparte con tus amigos</span>
                            <span class="icon">
                                <i class="icon fa fa-chevron-right"></i>
                            </span>
                        </div>
                        <div class="accordion-body">
                            <div class="content">
                                <p>
                                    Vive una experiencia inolvidable en Acacías y compártela con tus amigos. Invítalos a descubrir la belleza de los llanos orientales y a disfrutar de los paisajes, las tradiciones y la aventura.<br><br>
                                    No olvides traer tu cámara, porque los paisajes y las experiencias en Acacías son dignos de ser recordados y compartidos.
                                </p>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="our-courses" id="courses">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading">
                    <h2>Actividades Populares en Acacías</h2>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="owl-courses-item owl-carousel">
                    <div class="item">
                        <img src="assets/images/hotel-acacias.jpg" alt="Hotel Acacías Meta">
                        <div class="down-content">
                            <h4>Hospedaje en Finca Turística El Paraíso</h4>
                            <div class="info">
                                <div class="row">
                                    <div class="col-8">
                                        <ul>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                        </ul>
                                    </div>
                                    <div class="col-4">
                                        <span>$200,000 COP</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <img src="assets/images/caminata-ecologica.jpg" alt="Caminata Ecológica Acacías">
                        <div class="down-content">
                            <h4>Caminata Ecológica al Río Acacías</h4>
                            <div class="info">
                                <div class="row">
                                    <div class="col-8">
                                        <ul>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                        </ul>
                                    </div>
                                    <div class="col-4">
                                        <span>$50,000 COP</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <img src="assets/images/tour-lagos.jpg" alt="Tour Lagos de Acacías">
                        <div class="down-content">
                            <h4>Tour a los Lagos del Norte de Acacías</h4>
                            <div class="info">
                                <div class="row">
                                    <div class="col-8">
                                        <ul>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                        </ul>
                                    </div>
                                    <div class="col-4">
                                        <span>$150,000 COP</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <img src="assets/images/parapente-acacias.jpg" alt="Parapente en Acacías">
                        <div class="down-content">
                            <h4>Vuelo en Parapente sobre Acacías</h4>
                            <div class="info">
                                <div class="row">
                                    <div class="col-8">
                                        <ul>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                        </ul>
                                    </div>
                                    <div class="col-4">
                                        <span>$180,000 COP</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <img src="assets/images/ruta-ciclista.jpg" alt="Ruta Ciclista Acacías">
                        <div class="down-content">
                            <h4>Ruta Ciclista por la Vía Acacías</h4>
                            <div class="info">
                                <div class="row">
                                    <div class="col-8">
                                        <ul>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                        </ul>
                                    </div>
                                    <div class="col-4">
                                        <span>$120,000 COP</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <img src="assets/images/avistamiento-aves.jpg" alt="Avistamiento de Aves">
                        <div class="down-content">
                            <h4>Avistamiento de Aves en la Sabana</h4>
                            <div class="info">
                                <div class="row">
                                    <div class="col-8">
                                        <ul>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                        </ul>
                                    </div>
                                    <div class="col-4">
                                        <span>$90,000 COP</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Se agregan mas en base a lo que guste -->
                </div>
            </div>
        </div>
    </div>
</section>


<section class="our-facts">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-12">
                        <h2>Algunos Datos Sobre Acacías, Meta</h2>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-12">
                                <div class="count-area-content percentage">
                                    <div class="count-digit">500+</div>
                                    <div class="count-title">Hoteles y Alojamientos</div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="count-area-content">
                                    <div class="count-digit">200+</div>
                                    <div class="count-title">Restaurantes</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-12">
                                <div class="count-area-content new-students">
                                    <div class="count-digit">100,000+</div>
                                    <div class="count-title">Visitantes al Año</div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="count-area-content">
                                    <div class="count-digit">20+</div>
                                    <div class="count-title">Eventos Culturales Anuales</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 align-self-center">
                <div class="video">
                    <a href="https://www.youtube.com/watch?v=WyKQheMpwwc&ab_channel=ColombiaenDrone" target="_blank"><img src="assets/images/play-icon.png" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</section>


  <section class="contact-us" id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-9 align-self-center">
          <div class="row">
            <div class="col-lg-12">
              <form id="contact" action="" method="post">
                <div class="row">
                  <div class="col-lg-12">
                    <h2>Let's get in touch</h2>
                  </div>
                  <div class="col-lg-4">
                    <fieldset>
                      <input name="name" type="text" id="name" placeholder="YOURNAME...*" required="">
                    </fieldset>
                  </div>
                  <div class="col-lg-4">
                    <fieldset>
                    <input name="email" type="text" id="email" pattern="" placeholder="YOUR EMAIL..." required="">
                  </fieldset>
                  </div>
                  <div class="col-lg-4">
                    <fieldset>
                      <input name="subject" type="text" id="subject" placeholder="SUBJECT...*" required="">
                    </fieldset>
                  </div>
                  <div class="col-lg-12">
                    <fieldset>
                      <textarea name="message" type="text" class="form-control" id="message" placeholder="YOUR MESSAGE..." required=""></textarea>
                    </fieldset>
                  </div>
                  <div class="col-lg-12">
                    <fieldset>
                      <button type="submit" id="form-submit" class="button">SEND MESSAGE NOW</button>
                    </fieldset>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="right-info">
            <ul>
              <li>
                <h6>Phone Number</h6>
                <span>010-020-0340</span>
              </li>
              <li>
                <h6>Email Address</h6>
                <span>info@meeting.edu</span>
              </li>
              <li>
                <h6>Street Address</h6>
                <span>Rio de Janeiro - RJ, 22795-008, Brazil</span>
              </li>
              <li>
                <h6>Website URL</h6>
                <span>www.meeting.edu</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <p>Copyright © 2022 Edu Meeting Co., Ltd. All Rights Reserved. 
          <br>Design: <a href="https://templatemo.com" target="_parent" title="free css templates">TemplateMo</a></p>
    </div>
  </section>
